.y-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}

.y-u {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.y-u-1, .y-u-1-2, .y-u-1-3, .y-u-2-3, .y-u-1-4, .y-u-3-4, .y-u-1-5, .y-u-2-5, .y-u-3-5, .y-u-4-5, .y-u-1-6, .y-u-5-6, .y-u-1-7, .y-u-2-7, .y-u-3-7, .y-u-4-7, .y-u-5-7, .y-u-6-7, .y-u-1-8, .y-u-3-8, .y-u-5-8, .y-u-7-8, .y-u-1-9, .y-u-2-9, .y-u-4-9, .y-u-5-9, .y-u-6-9, .y-u-7-9, .y-u-8-9, .y-u-1-10, .y-u-3-10, .y-u-7-10, .y-u-9-10, .y-u-1-11, .y-u-2-11, .y-u-3-11, .y-u-4-11, .y-u-5-11, .y-u-6-11, .y-u-7-11, .y-u-8-11, .y-u-9-11, .y-u-10-11, .y-u-1-12, .y-u-5-12, .y-u-7-12, .y-u-9-12, .y-u-11-12 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.y-u-1 {
    display: block;
}

.y-u-1-2 {
    width: 50%;
}

.y-offset-1-2 {
    margin-left: 50%;
}

.y-u-1-3 {
    width: 33.33333%;
}

.y-offset-1-3 {
    margin-left: 33.33333%;
}

.y-u-2-3 {
    width: 66.66667%;
}

.y-offset-2-3 {
    margin-left: 66.66667%;
}

.y-u-1-4 {
    width: 25%;
}

.y-offset-1-4 {
    margin-left: 25%;
}

.y-u-3-4 {
    width: 75%;
}

.y-offset-3-4 {
    margin-left: 75%;
}

.y-u-1-5 {
    width: 20%;
}

.y-offset-1-5 {
    margin-left: 20%;
}

.y-u-2-5 {
    width: 40%;
}

.y-offset-2-5 {
    margin-left: 40%;
}

.y-u-3-5 {
    width: 60%;
}

.y-offset-3-5 {
    margin-left: 60%;
}

.y-u-4-5 {
    width: 80%;
}

.y-offset-4-5 {
    margin-left: 80%;
}

.y-u-1-6 {
    width: 16.66667%;
}

.y-offset-1-6 {
    margin-left: 16.66667%;
}

.y-u-5-6 {
    width: 83.33333%;
}

.y-offset-5-6 {
    margin-left: 83.33333%;
}

.y-u-1-7 {
    width: 14.28571%;
}

.y-offset-1-7 {
    margin-left: 14.28571%;
}

.y-u-2-7 {
    width: 28.57143%;
}

.y-offset-2-7 {
    margin-left: 28.57143%;
}

.y-u-3-7 {
    width: 42.85714%;
}

.y-offset-3-7 {
    margin-left: 42.85714%;
}

.y-u-4-7 {
    width: 57.14286%;
}

.y-offset-4-7 {
    margin-left: 57.14286%;
}

.y-u-5-7 {
    width: 71.42857%;
}

.y-offset-5-7 {
    margin-left: 71.42857%;
}

.y-u-6-7 {
    width: 85.71429%;
}

.y-offset-6-7 {
    margin-left: 85.71429%;
}

.y-u-1-8 {
    width: 12.5%;
}

.y-offset-1-8 {
    margin-left: 12.5%;
}

.y-u-3-8 {
    width: 37.5%;
}

.y-offset-3-8 {
    margin-left: 37.5%;
}

.y-u-5-8 {
    width: 62.5%;
}

.y-offset-5-8 {
    margin-left: 62.5%;
}

.y-u-7-8 {
    width: 87.5%;
}

.y-offset-7-8 {
    margin-left: 87.5%;
}

.y-u-1-9 {
    width: 11.11111%;
}

.y-offset-1-9 {
    margin-left: 11.11111%;
}

.y-u-2-9 {
    width: 22.22222%;
}

.y-offset-2-9 {
    margin-left: 22.22222%;
}

.y-u-4-9 {
    width: 44.44444%;
}

.y-offset-4-9 {
    margin-left: 44.44444%;
}

.y-u-5-9 {
    width: 55.55556%;
}

.y-offset-5-9 {
    margin-left: 55.55556%;
}

.y-u-6-9 {
    width: 66.66667%;
}

.y-offset-6-9 {
    margin-left: 66.66667%;
}

.y-u-7-9 {
    width: 77.77778%;
}

.y-offset-7-9 {
    margin-left: 77.77778%;
}

.y-u-8-9 {
    width: 88.88889%;
}

.y-offset-8-9 {
    margin-left: 88.88889%;
}

.y-u-1-10 {
    width: 10%;
}

.y-offset-1-10 {
    margin-left: 10%;
}

.y-u-3-10 {
    width: 30%;
}

.y-offset-3-10 {
    margin-left: 30%;
}

.y-u-7-10 {
    width: 70%;
}

.y-offset-7-10 {
    margin-left: 70%;
}

.y-u-9-10 {
    width: 90%;
}

.y-offset-9-10 {
    margin-left: 90%;
}

.y-u-1-11 {
    width: 9.09091%;
}

.y-offset-1-11 {
    margin-left: 9.09091%;
}

.y-u-2-11 {
    width: 18.18182%;
}

.y-offset-2-11 {
    margin-left: 18.18182%;
}

.y-u-3-11 {
    width: 27.27273%;
}

.y-offset-3-11 {
    margin-left: 27.27273%;
}

.y-u-4-11 {
    width: 36.36364%;
}

.y-offset-4-11 {
    margin-left: 36.36364%;
}

.y-u-5-11 {
    width: 45.45455%;
}

.y-offset-5-11 {
    margin-left: 45.45455%;
}

.y-u-6-11 {
    width: 54.54545%;
}

.y-offset-6-11 {
    margin-left: 54.54545%;
}

.y-u-7-11 {
    width: 63.63636%;
}

.y-offset-7-11 {
    margin-left: 63.63636%;
}

.y-u-8-11 {
    width: 72.72727%;
}

.y-offset-8-11 {
    margin-left: 72.72727%;
}

.y-u-9-11 {
    width: 81.81818%;
}

.y-offset-9-11 {
    margin-left: 81.81818%;
}

.y-u-10-11 {
    width: 90.90909%;
}

.y-offset-10-11 {
    margin-left: 90.90909%;
}

.y-u-1-12 {
    width: 8.33333%;
}

.y-offset-1-12 {
    margin-left: 8.33333%;
}

.y-u-5-12 {
    width: 41.66667%;
}

.y-offset-5-12 {
    margin-left: 41.66667%;
}

.y-u-7-12 {
    width: 58.33333%;
}

.y-offset-7-12 {
    margin-left: 58.33333%;
}

.y-u-9-12 {
    width: 75%;
}

.y-offset-9-12 {
    margin-left: 75%;
}

.y-u-11-12 {
    width: 91.66667%;
}

.y-offset-11-12 {
    margin-left: 91.66667%;
}

.y-g-responsive img {
    max-width: 100%;
}

@media (min-width: 980px) {
    .y-visible-phone {
        display: none;
    }

    .y-visible-tablet {
        display: none;
    }

    .y-visible-desktop {
    }

    .y-hidden-phone {
    }

    .y-hidden-tablet {
    }

    .y-hidden-desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    .y-g-responsive > [class ^= "y-u"] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .y-g-responsive > [class ^= "y-u"] {
        width: 100%;
    }

    .y-visible-phone {
    }

    .y-hidden-phone {
        display: none;
    }

    .y-hidden-desktop {
    }

    .y-visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .y-visible-tablet {
    }

    .y-hidden-tablet {
        display: none;
    }

    .y-hidden-desktop {
    }

    .y-visible-desktop {
        display: none;
    }
}