@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Narrow-Web-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans-Narrow-Web-Bold.ttf');
    font-weight: bold;
}
/*@font-face {*/
    /*font-family: 'Roboto Condensed';*/
    /*src: url('fonts/RobotoCondensed-Bold.ttf');*/
    /*font-weight: bold;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Roboto Condensed';*/
    /*src: url('fonts/RobotoCondensed-Regular.ttf');*/
    /*font-weight: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Roboto Condensed';*/
    /*src: url('fonts/RobotoCondensed-Light.ttf');*/
    /*font-weight: 200;*/
/*}*/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}
input {
    font-family: inherit;
}
.center {
    text-align: center;
}
.day-button {
    height: 50px;
    border: 1px dashed darkred;
}